<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Share Your Whiteboard</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <style>   .ui-dialog-titlebar-close {
  visibility: hidden;
}            label, input { display:block; }        input.text { margin-bottom:12px; width:95%; padding: .4em; }        fieldset { padding:0; border:0; margin-top:25px; }        h1 { font-size: 1.2em; margin: .6em 0; }        div#users-contain { width: 350px; margin: 20px 0; }        div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }        div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }        .ui-dialog .ui-state-error { padding: .3em; }        .validateTips { border: 1px solid transparent; padding: 0.3em; }    </style>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><img src="/images/whiteboardlogo.png" /></p>
                </div>
                <div class="float-right">
                   
                    <nav>
                        <ul id="menu">
                           @* <li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                            <li>@Html.ActionLink("About", "About", "Home", new { target = "_blank" })</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home", new { target = "_blank" })</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()

                 </section>
        </div>
        
        <footer>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37249456-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

</script>
<table><tr><td>
        <a href="http://www.easycounter.com/">
<img src="http://www.easycounter.com/counter.php?alvingeo"
border="0" alt="Web Site Hit Counter"></a>
<br/><br /><a href="mailto:alvingeorge@gmail.com">By Alvin George</a>
</td><td><div id="fb-root"></div>

    
    </td></tr></table>
    
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
         
         
    </body>
    
</html>
